@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
    font-style: normal ;
    font-weight: normal;
}

body {
    margin: 0px;
}
footer{
    display: block;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 100vw;
    height: 400px;
    position: relative;
    left: 0px;
    bottom: 0px;
    background-color: #E8E8E8;
    padding: 20px;
}

#space_b{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 32px;
}

#logo_b {
    display: flex;
    align-items: center;
}
#scale-pic {
    width: 55px;
    height: 55px;
}
#name_b {
    font-weight: 400;
    font-size: 1.6vw;
    padding-left: 24px;
    margin: 0px;
}
#row_foot {
    display: flex;
    width: 83%;
    flex-direction: row;
    justify-content: space-between;
}
#row_foot_2 {
    display: flex;
    flex-basis: 100vw;
    gap: 15rem;
    padding: 16px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#row_foot_3 {
    display: flex;
    justify-content: flex-start;
}
#name_foot_list {
    color: #F39F18;
    font-size: 1.4vw;
}
#footer_ul {
    padding: 0px;
    color: #343434;
}
#footer_li {
    list-style-type: none;
    font-size: 1vw;
    line-height: 1.65vw;
    
}
#footer_li a {
    text-decoration: none;
    color: black;
}
#footer_li a:hover {
    text-decoration: none;
    color: #F39F18;
}
#footer_p {
    align-self: center;
    padding: 16px;
    font-size: 1vw;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
    
    body {
        margin: 0px;
    }

    footer{
        display: block; 
        height: 300px;
        position: relative;
        left: 0px;
        bottom: 0px;
        background-color: #E8E8E8;
        
    }

    #space_b{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 48px;
    }

    #row_foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #dispnone {
        display: none;
    }
    #row_foot_2 {
        display: flex;
        gap: 0rem;
        padding: 32px 0px;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    #logo_b {
        display: flex;
        align-items: center;
    }

    #scale-pic {
        width: 48px;
        height: px;
    }

    #name_b {
        font-weight: 400;
        font-size: 24px;
        padding-left: 12px;
        margin: 0px;
    }

    #row_foot_3 {
        width: 250px;
        height: 40px;
        display: flex;
        justify-content:space-around;
    }
    #row_foot_3 img {
        align-self: center;
        padding: 12px;
        width: 30px;
        height: 30px;
    }

    #footer_p {
        text-align: center;
        display: block;
        width: 150px;
        align-self: center;
        font-size: 12px;
        padding: 0px;
    }

}



