@font-face {
    font-family: 'Nunito';
    src: url(/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
    font-style: normal ;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F39F18;
    background-image: url(/img/Rectangle1.png);
    color: #fff;
}

.Name_shop {
    font-size: 200px;
    font-family: 'Nunito';
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}


.toggle-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    /* background: #2f2f2f; */
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
	overflow: hidden;
}
.toggle-btn span {
	width: 40px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}

.toggle-btn span:nth-of-type(2) {
	top: calc(50% - 10px);
}
.toggle-btn span:nth-of-type(3) {
	top: calc(50% + 10px);
}

.toggle-btn.active span:nth-of-type(1) {
    background-color: rgba(0, 0, 255, 0);
    transition: 0.3s;
}
.toggle-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
.toggle-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}


.toggle {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0px;
    background: #FFEFBA;
	transform: translateX(-100%);
	transition: 0.5s; 
}
.toggle.active {
	transform: translateX(0);
    padding: 0;
}
.toggle li {
	list-style-type: none;
}



.horizontal{
    display: flex;
    flex-direction: row;
    width: 100%;
	height: 100%;
}

.link{
    width: 20%;
    height: 100%;
    background-color: #404040;
    transition: .5s;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.link a{
    transform: rotate(-90deg);
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 48pt;
    color: #d9d9d9;
    text-decoration: none;
    transition: 0.5s;
}
#a5 {
    display: flex;
    flex-direction: column;
    
}
.link a:hover {
    color: #ffe135;
    transition: 0.5s;
}
